:host {
  display: block;
  --app-page-layout-max-width: 76rem;
}

:host(.shell-container) {
  padding-inline: 0;
}

.app-page-layout__section {
  display: grid;
  gap: var(--page-content-gap);
  width: 100%;
}

.app-page-layout__section--header {
  display: block;
  gap: 0;
}

.app-page-layout__body {
  display: grid;
  gap: var(--page-content-gap);
  margin-top: var(--page-content-gap);
}

.app-page-layout__body--bleed {
  margin-inline: calc(var(--page-padding-inline) * -1);
}

:host(.shell-container) .app-page-layout__body--bleed {
  margin-inline: 0;
}
